@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>


<div class="row">
<div class="col-12">
    
        <div class="form-group">
            <label asp-for="@Model.Code" class="col-form-label "></label>
            <input asp-for="@Model.Code" class="form-control" readonly></input>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Name" class="col-form-label "></label>
            <input asp-for="@Model.Name" class="form-control" readonly></input>
        </div>
        <br />
        <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
   
</div>
</div>