@model List<UserInRoleViewModel>
@{
    ViewData["Title"] = "AddOrRemoveUsers";
    var RoleId = ViewBag.RoleId;
    var RoleName = ViewBag.RoleName;
}

<h1>Add Or Remove Users From The @RoleName Role</h1>

<form class="my-3" asp-action="AddOrRemoveUsers" asp-controller="Roles" asp-route-RoleId="@RoleId">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="form-group">
            <input asp-for="@Model[i].IsSelected"/>
            <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
        </div>
        <input type="hidden" asp-for="@Model[i].UserId" />
        <input type="hidden" asp-for="@Model[i].UserName" />
       
    }
    <div class="my-3">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a asp-action="Update" asp-controller="Roles" asp-route-id="@RoleId" class="btn btn-outline-primary">Cancel</a>
    </div>
</form>
